@tailwind base;
@tailwind components;
@tailwind utilities;




.highlighted-booked {
  background-color: #f8d7da !important; /* Redish - unavailable */
}
.highlighted-mine {
  background-color: #d1ecf1 !important; /* Light blue - your booking */
}
.highlighted-editing {
  background-color: #ffcc80 !important; /* Orange - editing mode */
}
.highlighted-selected {
  background-color: #90ee90 !important; /* Green - new selection */
}
.highlighted-start {
  background-color: #ffdeac !important; /* Orange-ish - starting date */
}
